<footer class="footer mt-auto py-3 bg-primary text-center">
    <div class="container">
        <span class="text-light">Rodapé do projeto.</span>
        <div class="mt-2">
            <img src="/imgs/escola.png" alt="Icon escola" width="30">
            <img src="/imgs/graduacao.png" alt="Icon graduação" width="30">
            <img src="/imgs/mochila.png" alt="Icon mochila" width="30">
        </div>
    </div>
</footer>