<h1>Add Alunos</h1> 

<form action="/alunos/add" method="POST"> 

    <div class="form-group"> 

        <label for="nome">Alunos</label> 

        <input type="text" class="form-control" id="nome" name="nome" required> 

    </div> 

    <button type="submit" class="btn btn-primary">Add</button> 

</form> 
