<h1 class="mt-4">NIntegrantes</h1>

<div class="row">
    <div class="col-md-6 text-center">
        <img src="/imgs/eu.enc" alt="Thaina" class="img-fluid rounded-circle" width="150">
        <h5 class="mt-2">Thainá</h5>
    </div>
</div>

<div class="mt-4 text-center">
    <h3>Vídeo de apresentação da Instituição!</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xRaDCUy3A-Y?si=1kSI6-N-_bZStR14" 
        title="YouTube video" frameborder="0" allowfullscreen></iframe>
</div>